<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DyTaBo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="images/icono.jpg" type="image/x-icon">

    <style>
        html,body {
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="app"  style="height: 100% !important;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">DyTaBo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

        <div class="container-fluid  ">
        <div class="row" >
            <div class="col-2  col-lg-offset-1 col-md-offset-1 col-sm-offset-1   hidden-md-down " style="height: 100px!important;"> <!--Column: lisk of task unsigned-->

                <div class="card text-center " style="background-color: lightgrey !important;">
                    <div class="card-header text-primary">
                      List Tasks
                    </div>
                    <div class="card-body w-100 p-3" style="padding: 0.25rem !important;" v-for="task in listTask">
                      <a href="#" class="btn btn-primary">{{task.name}}</a>
                    </div>

                    
                </div>
                  
            </div>
            <div class="col-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1   hidden-md-down" style="height: 100% !important;">
                <div class="card text-center" style="background-color: lightgrey  !important;">
                    <div class="card-header text-primary">
                      Open
                    </div>
                    <div class="card-body" style="padding: 0.25rem !important;" v-for="taskOpen in listTaskOpen" >
                      <a href="#" class="btn btn-primary">{{taskOpen.name}}</a>
                    </div>
                    
                  </div>
            
            </div>
            <div class="col-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1   hidden-md-down" style="height: 100% !important;" > <!--Column: lisk of task unsigned-->

                <div class="card text-center" style="background-color: lightgrey !important;">
                    <div class="card-header text-primary">
                        In-Progress
                    </div>
                    <div class="card-body" style="padding: 0.25rem !important;" v-for="TaskProgress in listTaskProgress"> 
                      <a href="#" class="btn btn-primary">{{TaskProgress.name}}</a>
                    </div>
                </div>
          
                    
                    
                   

            </div>
            <div class="col-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1   hidden-md-down" style="height: 100% !important;">
                <div class="card text-center" style="background-color: lightgrey !important;">
                    <div class="card-header text-primary">
                    Completed
                    </div>
                    <div class="card-body" style="padding: 0.25rem !important;" v-for="TaskComplete in listTaskCompleted">
                      <a href="#" class="btn btn-primary">{{TaskComplete.name}}</a>
                    </div>
                    
                  </div>
            
            </div>
            <div class="col-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1   hidden-md-down" style="height: 100% !important;">
                <div class="card text-center" style="background-color: lightgrey !important;">
                    <div class="card-header text-primary">
                        Archived
                    </div>
                    <div class="card-body" style="padding: 0.25rem !important;" v-for="TaskArchived in listTaskArchived">
                      <a href="#" class="btn btn-primary">{{TaskArchived.name}}</a>
                    </div>
                  </div>
                    
            </div>
            <div class="col-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1   hidden-md-down" style="height: 100% !important;">
                <div class="card text-center" style="background-color: lightgrey !important;">
                    <div class="card-header text-primary">
                        
                    </div>
                    <div class="card-body" style="padding: 0.25rem !important;">
                        <form>
                            
                            <div class="form-group">
                              <label for="exampleFormControlSelect1">User select</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect2">Task select</label>
                              <select multiple class="form-control" id="exampleFormControlSelect2">
                                <option>Terminar log</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                            <button type="button" class="btn btn-primary btn-lg">Assign</button>
                          </form>
                    </div>
                   
            </div>
            
        </div>
        </div>


    </div>
    <script src="js/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    
    
    
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
